ananas-test/dtd/project.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT PROJECT       (AUTHOR?,DESCRIPTION?,MODULE+)>
<!ATTLIST PROJECT       NAME ID #REQUIRED>
<!ELEMENT AUTHOR        (#PCDATA)>
<!ELEMENT DESCRIPTION   (#PCDATA)>
<!ELEMENT MODULE        (FILEPATH,SOURCEPATH)>
<!ELEMENT FILEPATH      (#PCDATA)>
<!ELEMENT SOURCEPATH    (#PCDATA)>


